body {
	font-family: sans-serif;
	font-weight: lighter;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto
}

P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}

h2 {
	display: block;
    margin-left: auto;
    margin-right: auto
}

h3 {
	font-weight: normal;
	letter-spacing:1px;
}

a {
	color: #4A72B0;
}