/* body { */
/* 	font-family: sans-serif; */
/* 	font-weight: lighter; */
/* } */

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.header {
	padding-left: 20%;
}

.main1 {
	padding-left: 25%;
	padding-top: 5%;
    height: 15%; 
   	width: 100%;
   	    opacity: 1.0;
}
.main2 {
	padding-left: 25%;
	padding-top: 1%;
    height: 15%; 
    width: 100%;
        opacity: 1.0;
}

a.loginButton {
	position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	width: 4em;
	height: 3em; 
	margin-left: auto;
    margin-right: auto;
	background-color: #8ae234;
	box-shadow: 10px 10px 5px #888888;
	border-radius:15px;
	text-align: center;
	text-decoration: none;

}

P.logoText {
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    font-weight: bold;
    text-align: center;
}
div.login { 
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #FCFCFC;
	border-color: #555555;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;

}

div.main { 
    position: relative;
    height: 70%;
   	width: 60%;
    top: 15%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, 10%);
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #FCFCFC;
	border-color: #555555;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;


}

a.main_menu {
	padding:2em;
	margin-top: 100px;
    background-color: #8ae234;
    border-radius: 0.3em;
	text-decoration: none;
    border:3px solid #73AD21;
    text-align: center;
}

h2 {
	display: block;
    margin-left: auto;
    margin-right: auto
}

h3 {
	font-weight: normal;
	letter-spacing:1px;
}

a {
	color: #4A72B0;
}
